body, html{
  height:100%;
}
body{
  margin: 0px;
  /* background-color:#444; */
  background-image: url("src/download.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body, a:link, a:visited, a:active{
  color: pink;
}
.title, .addDancerButton{
  padding:2px 12px;
  float:right;
  font-size: 24px;
  font-weight: bold;
}
.topbar{
  height:32px;
  background-color: black;
  opacity: .75;
}
.title{
  background-color: black;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.image {
  width: 100px;
}
.cat {
  width: 100px;
}

span {
  position: absolute;
}